# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

# Folder just used to do a diff compare to potential changes
Diff/
Build/

md2_env/
.python-version

# zipped addon file for Blender
anachronox_md2.zip